# --- These are global settings

#global !p
#
## Context for math
#def math():
#    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
#
## Context for comment
#def comment(): 
#    return vim.eval('vimtex#syntax#in_comment()') == '1'
#
## Context for any environment
#def env(name):
#    [x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
#    return x != '0' and x != '0'
#
#endglobal
