# These snippets are for specific projects or classes.
# They are usually really specific, but they are really useful!

# --- Physics ---

snippet cfgv "Cite 'függvénytába'" i
\cite[$1]{függvénytábla}$0
endsnippet
